.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column-gap: 48px;
  -webkit-column-gap: 48px;
  column-gap: 48px;
}

@media screen and (max-width: 600px) {
  .header__nav {
    font-size: 18px;
    justify-content:stretch;
  }
}

@media screen and (max-width: 430px) {
  .header__nav {
    display: grid;
    justify-content:stretch;
  }
}