.header {
  max-width: 882px;
  margin: 0 auto;
  padding: 45px 0 4px 0;
  background-color: #000000;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1023px) {
  .header {
    padding: 28px 27px 5px 27px;
  }
}
