.auth__link{
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  width: 100%;
  height: 17px;
  transition: opacity .3s linear;
}

.auth__link:hover{
  opacity: 0.6;
}
